

input {
  width: 15%;
  border-radius: 5px;

}

body {
    height: 100%;
    overflow-y: auto;
    font-size: 16px;
    line-height: 125%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, #right {
  color: #fca311;
}

button:hover, #top {
  background-color: #14213d;
}

#top{
    position: absolute;
    left: 0px;
    height: 100px;
    width: 100%;
    top: 0;
    margin: 0;
}

/*#left {
    background: #e3e3e3;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 200px;
}
*/

#right {
  background-color: oklch(22% 0.05 270);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 100px;

}
div#right div {
  margin-left: 10px;
  margin-top: 5px;
}

button:hover, strong {
    color: #fca311;
  }

button {
        background-color: #fca311;
        color: #14213d;
        font-weight: bold;
        border: none;
        padding: 16px;
        border-radius: 12px;
        font-size: 100%;
        transition-duration: 0.4s;
    }

#sub-header, #content-area {
  margin-left: 5px;
}
#sub-header {
    height: 20px;

}
#content-area {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}
#alert {
    background: red;
    color: white;
}
#content {
    width: 100%;
    float: left;
}

#answer {

  white-space: pre-wrap;
}