<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>OpDecision AI</title>
</head>
<body>
  <div id="navbar">
    <a href="#hero">Join Waitlist</a>
    <a href="#problem">The Problem</a>
    <a href="#solution">The Solution</a>
  </div>
  <div id="hero">
    <div>
      <h1 id="title">OpDecision AI</h1>
    </div>
    <h3>Your personalized AI-Powered Decision Support.</h3>
    <button onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSeA6GtgiwogI7nFwr6z-YM1kB4oNY8GHv03a-zxoJLMtcSOAA/viewform?usp=sharing&ouid=115444821749202351718')">Join the waitlist to be notified when we launch!</button>
  </div>
  <div id="problem">
    <h2>The Problem</h2>
    <p>
      Robbie and Don's vision is to maintain a company's knowledge base when it comes to
      operations decision-making. Robbie's grandpa is a business owner and knows exactly
      how much to order of each product to keep in stock, when to run promotions, and
      how to price. But <strong class='black'>what happens when he retires?</strong> We want to capture that
      intuition and make it available to the next generation of operators, so that they
      can make informed decisions and keep the business running smoothly.
    </p>
  </div>
  <div id="solution">
    <h2>The Solution</h2>
    <p>
      OpDecision AI is an AI-powered decision support tool that captures and <strong>preserves
      the knowledge and intuition of business owners and operators</strong>. OpDecision AI analyzes historical data,
      identifies patterns, and provides actionable insights to help businesses make
      informed decisions.
      This ensures that valuable knowledge is retained and accessible to future generations
      of operators, ultimately improving decision-making and business performance.
    </p>
    <p>
      New research by supply chain professor Leela Nageswaran at the Foster's Business School at the University of Washington
      has shown that <strong>qualitative AI</strong> could help students make better decisions in a simulated inventory management game
      - better by statistically significant amount than students who had access to quantitative AI or no AI. Our OpDecision
      AI is a qualitative AI, which means it'll assist operators by providing reccomendations based off mathematical models in natural language,
      enhancing understanding of decisions for operators, but not making decisions for them.
      This allows operators to utilize their own experiences in placing orders, but with guidance from the company's founder through a chatbox medium.
    </p>
  </div>
</body>
</html>